- if user_signed_in?
  = button_to('Logout', destroy_user_session_path, method: :delete, class: 'button--logout')
- else
  = link_to('Login', new_user_session_path, class: 'button--logout')
%h1
  Hello #{current_user.email}
%p Please find list of your monitored wallets attached
%table
  %thead
    %tr
      %th Wallet address
      %th Number of transactions
      %th Balance
      %th
  %tbody
    - @address_list.each do |item|
      %tr
        %td= item[:account]
        %td= item[:numtx]
        %td
          = item[:balance].to_f / 10.pow(18)
          ETH
        %td
          = link_to 'Show', wallets_show_path({address: item[:account], |
            numtx: item[:numtx],                                        |
            balance: item[:balance],                                    |
            symbol: 'ETH'})                                             |
= link_to 'Add Wallet', wallets_new_path, class: 'button'
