<% if user_signed_in? %>
  <%= button_to('Logout', destroy_user_session_path, method: :delete, class: 'button--logout') %>
<% else %>
  <%= link_to('Login', new_user_session_path, class: 'button--logout') %>
<% end %>
<h3>Transactions for <%= @address %></h3>
<div class="row stats">
  <div class="column">
    <strong>Summary:</strong>
  </div>
  <div class="column">
    <strong><%= @numtx %></strong>
    Transactions
  </div>
  <div class="column">
    <% # TODO: Remember to change currency symbol %>
    <strong><%= @balance.to_f / 10.pow(18) %> ETH</strong>
    Balance
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Details</th>
      <% # TODO: Remember to change currency symbol %>
      <th>Amount (ETH)</th>
      <th>Fee (ETH)</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% if @transactions != 'Error! Invalid address format' %>
      <% @transactions.each do |item| %>
        <% if item[:from].downcase == @address.downcase %>
          <tr class="transaction-outcoming">
            <td>
              <i class="fas fa-arrow-down"></i>
              Transfer to
              <%= item[:to] %>
            </td>
        <% else %>
          <tr class="transaction-incoming">
          <td>
            <i class="fas fa-arrow-up"></i>
            Transfer from
            <%= item[:from] %>
          </td>
        <% end %>
          <td><%= item[:value].to_f / 10.pow(18) %> ETH</td>
          <td><%= item[:gasPrice].to_f * item[:gasUsed].to_f / 10.pow(18) %> ETH</td>
          <td><%= time_ago_in_words(Time.at(item[:timeStamp].to_i)) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to 'Change currency to PLN', wallets_show_path, class: 'button' %>
<%= link_to 'Back to your wallets', wallets_index_path %>
|
<%= link_to 'Remove wallet', wallets_index_path(remove: @address) %>
